@import '../../sass/abstract/mixin';
.roadmap_section{
    background-color: #7b5c00;
    display: flex;
    justify-content: center;
   
    .title{
        text-align: center;
        color: #FFFFFF;
        font-family: 'Indie Flower', cursive;
        font-size: 80px;
        font-weight: 900;
        line-height: 2em;
        letter-spacing: 2px;
       
        @include sm_screen{
            text-align: center;
            font-size: 46px;
            line-height: 1.3em;
            margin-bottom: 1.6em;
        }
    }
    .roadmap_container{
        width: 1200px;
        .hero{
            display: flex;
            align-items: center;
            justify-content: space-between;
          
            @include tablet_vert_screen{
                flex-direction: column;
            }
            @include sm_screen{
                flex-direction: column;
            }
            .left_image{
                @include tablet_vert_screen{
                    display: none;
                }
                @include sm_screen{
                    display: none;
                }
            }
            img{
                width: 300px;
            }
            .middle_card{
                border: 5px solid #FFFFFF;
                border-radius: 0px 30px;
                padding: 60px 22px;
                font-size: 1.5rem;
                text-align: center;
                color: #FFFFFF;
                font-family: 'Indie Flower', cursive;
                font-size: 31px;
                font-weight: 100;
                line-height: 2em;
                letter-spacing: 1px;
                &:hover{
                    border-radius: 20px;
                }
                @include sm_screen{
                    text-align: center;
                    font-size: 20px;
                }
            }
            
           
            
        }
        .jokepart{
            text-align: center;
            width: 70%;
            display: flex;
            justify-content: center;
            margin: auto;
            padding: 36px 0;
            @include sm_screen {
                width: 100%;
            }
            p{
                font-size: 32px;
                color: #FFFFFF;
                font-family: 'Indie Flower', cursive;
                text-align: center;
                @include sm_screen {
                    font-size: 21px;
                }
            }
           
        }
        .phase_list{
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
            @include tablet_vert_screen{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
            }
            @include sm_screen{
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 20px;
            }
            .card{
                display: flex;
                width: 325px;
                border: 3px solid white;
                padding: 37px;
                border-radius: 30px;
                @include tablet_vert_screen{
                    width: 90%;
                    margin-bottom: 20px;
                }
                @include sm_screen{
                    width: 90%;
                    margin-bottom: 20px;
                }
                p{
                    color:  rgb(239 142 0);
                    font-family: 'Indie Flower', cursive;
                    font-size: 30px;
                    font-weight: 700;
                    text-decoration: none;
                    letter-spacing: 2px;
                }
                li{
                    font-family: 'Indie Flower', cursive;
                    line-height: 22px;
                    word-spacing: 1.5px;
                    color: #FFFFFF;
                    @include sm_screen{
                        font-size: 17px;
                        font-weight: 100;
                        line-height: 30px;
                       
                    }
                }
            }
        }
    }
}