@import '../../sass/abstract/mixin';
.hero_section{
    background-color: #7b5c00;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero_container{
        width: 1100px; 
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 50px 0;
        align-items: center;
        @include tablet_vert_screen {
            width: 100%;
            grid-template-columns: 1fr;
        }
        @include sm_screen {
            width: 100%;
            grid-template-columns: 1fr;
        }
        .left{
            display: flex;
            flex-direction: column;
            font-family: 'Indie Flower', cursive;
            h2{
                text-align: left;
                color: #FFFFFF;
                font-family: 'Indie Flower', cursive;
                font-size: 90px;
                font-weight: 900;
                line-height: 2em;
                @include tablet_vert_screen{
                    text-align: center;
                }
               
                @include sm_screen{
                    text-align: center;
                    font-size: 59px;
                    line-height: 1.3em;
                    margin-bottom: 30px;
                }
            }
       
            
            .social_media{
                padding: 21px 0px;
                display: flex;
                gap: 24px;
                align-items: center;
                @include tablet_vert_screen {
                    justify-content: center;
                }
             
                @include sm_screen{
                    justify-content: center;
                }
            }
            .link{
                border: 1px solid white;
                padding: 10px 28px;
                font-size: 23px;
                border-radius: 20px;
                @include sm_screen{
                    padding: 5px 18px;
                }
            }
            .logo{
               border: 1px solid white;
               width: 36px;
               height: 36px;
               border-radius: 100%;
               padding: 10px;
               position: relative;
               .icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
               }
            }
    
            .description{
                text-align: left;
                color: #FFFFFF;
                width: 500px;
                text-align: left;
                
                @include tablet_vert_screen {
                    width: 100%;
                    text-align: center;
                }
             
                @include sm_screen{
                    width: 100%;
                    text-align: center;
                }
              .container{
                font-family: 'Indie Flower', cursive;
                font-size: 21px;
                font-weight: 500;
                line-height: 2em;
                text-align: left;
                margin-bottom: 1.6em;
                @include tablet_vert_screen {
                    width: 100%;
                    text-align: center;
                }
                @include sm_screen{
                    width: 100%;
                    text-align: center;
                }
              }
            }
        }
        .right{
            border-radius: 50%;
            display: flex;
            justify-content:flex-end;
            @include tablet_vert_screen{
                display: flex;
                justify-content: center;
            }
            @include sm_screen {
                display: flex;
                justify-content: center;
                
            }
            img{
                @include sm_screen{
                    width: 100%;
                }
            }
        }
    }
   
    
}