// Main Heading
@mixin main-heading{
    font-family: 'Refinery 55';
    font-size: 64px;
    line-height: 90px;
    @include devices(lg){
        font-size: 48px;
        line-height: 68px;
    }
}

@mixin innerHeading{
    font-family: 'Refinery 55';
    font-size: 60px;
    line-height: 70px;
    @include devices(lg){
        font-size: 40px;
        line-height: 44px;
    }
}

@mixin lg-paragraph{
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 180%;
    text-transform: uppercase;
    color: $White;
}

@mixin sm-paragraph{
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: $White;
}