.dropdownContainer{
    display: block;
    position: fixed;
    width: 225px;
    margin-top: 7px;
    margin-left: -185px;
    z-index: 9999;
    background-color: #7b5c00;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.015), 5px 5px 15px rgba(0, 0, 0, 0.1),
      -5px -5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
    padding: 20px 10px;
    &.visible{
        opacity: 1;
        pointer-events: auto;
    }
    .dropdownGrid{
        display: flex;
        flex-direction: column;
        padding: 10px;
        p{
            color: #fff;
            font-family: 'Indie Flower', cursive;
            margin-bottom: 12px;
        }
    }
}

