
@import '../../../sass/abstract/mixin';
.link{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    a{
        cursor: pointer;
    }
    p{
        font-size: 36px;
        font-family: 'Indie Flower', cursive;
        color: #fff;
    }
    @include sm_screen{
        display: none;
    }
}