@import '../../sass/abstract/mixin';
.dialog_section{
    background-color: #7b5c00;
    display: flex;
    justify-content: center;
    padding: 77px 0;
    .dialog_container{
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .meme_description{
            text-align: center;
            color: #FFFFFF;
            font-family: 'Indie Flower', cursive;
            font-size: 35px;
            font-weight: 100;
            line-height: 2em;
            letter-spacing: 1px;
            @include sm_screen{
                margin-bottom: 1.6em;
                text-align: center;
                font-size: 20px;
            }
        }
        .social_media{
            padding: 21px 0px;
            display: flex;
            gap: 24px;
            align-items: center;
        }
        .link{
            border: 1px solid white;
            padding: 10px 28px;
            color: #FFFFFF;
            font-size: 23px;
            border-radius: 20px;
            font-family: 'Indie Flower', cursive;
        }
        .logo{
            border: 1px solid white;
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            padding: 10px;
            position: relative;
            .icon{
             position: absolute;
             top: 50%;
             left: 50%;
             transform: translate(-50%, -50%);
            }
         }
 
    
    }
    
}