@import '../../sass/abstract/mixin';
.home_page{
    width: 100%;
    height: 100%;
    .up_button{
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 9999;
        font-size: 18px;
        border: none;
        outline: none;
        width: 60px;
        height: 60px;
        background-color: rgb(239 142 0);
        color: white;
        cursor: pointer;
        padding: 10px;
    }
    .layout{
        background-color: rgb(200, 196, 196);
        padding: 8px;
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
    .product_list{
        display: grid;
        gap: 18px;
        grid-template-columns: repeat(8,1fr) !important;
        @include tablet_vert_screen{
            grid-template-columns: repeat(3, 1fr)!important;
        }
        @include sm_screen{
            grid-template-columns: 1fr !important;
        }
        .product_card{           
            display: flex;
            flex-direction: column;
            @include tablet_vert_screen{
                width: 100%;
            }
            @include sm_screen{
                width: 100%;
            }
            .image_section{
                position: relative;
                background: rgb(255, 255, 255);
                aspect-ratio: 1 / 1;
                border-radius: 12px 12px 0px 0px;
                overflow: hidden;
                flex-shrink: 0;
                @include tablet_vert_screen{
                    aspect-ratio: 1/0.8;
                }
                @include sm_screen{
                    aspect-ratio: 1/0.6;
                }
                .image{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    object-position: center;
                }
            }
            .description_section{
                display: flex;
                flex-direction: column;
                -webkit-box-pack: justify;
                justify-content: space-between;
                -webkit-box-flex: 1;
                flex-grow: 1;
                background-color: rgb(219, 208, 208);
                border-radius: 0px 0px 12px 12px;
                overflow: hidden;
                .name{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                }
                .price{
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                }
                .rating{
                    padding: 10px;
                    display: flex;
                    justify-content: space-between;
                    &.cart{
                        background-color: red;
                        color: #ffff;
                    }
                }
            }
        }
    }
    
}