@import '../../sass/abstract/mixin';
.nav{
    height: 80px;
    width: 100%;
    z-index: 9999;
    padding: 15px 40px;
    background-color: #7b5c00;
    .header_section {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        align-items: center;
        height: 100%;
        gap: 20px;
        width: 60%;
        margin: auto;
        @include tablet_vert_screen {
            grid-template-columns: 1fr;
            width: 100%;
        }
        @include sm_screen{
            grid-template-columns: 1fr;
            width: 100%;
        }
    }

    .mobile_nav_section{
        display: flex;
        align-items: center;
        grid-gap: 20px;
        margin: auto 0 auto auto;
        display: none;
        @include sm_screen {
            display: block;
        }
    }
}
