
@import '../../sass/abstract/mixin';
.tokenomic_section{
    background-color:#7b5c00 ;
    display: flex;
    justify-content: center;
    .tokenomic_container{
        display: flex;
        width: 1280px;
        flex-direction: column;
        @include tablet_vert_screen {
            width: 100%;
        }
        @include sm_screen {
            width: 100%;
            padding: 0 10px;
        }
    }
    .token_address{
        display: flex;
        justify-content: center;
        gap: 30px;
        @include tablet_vert_screen {
            flex-direction: column;
        }
        @include sm_screen {
            flex-direction: column;
        }
        .address_card{
            width: 50%;
            border: 3px solid #FFFFFF;
            border-radius: 20px;
            display: flex; 
            flex-direction: column;
            padding: 28px 32px;
            align-items: center;
            @include tablet_vert_screen {
                width: 100%;
            }
            @include sm_screen {
                width: 100%;
            }
            .address_title{
                font-family: 'Indie Flower', cursive;
                font-size: 32px;
                margin-bottom: 10px;
                color: #FFFFFF;
                text-align: center;
                @include sm_screen{
                    text-align: center;
                    font-size: 20px;
                }
            }
            .address{
                font-size: 21px;
                align-items: center;
                color: #FFFFFF;
                font-family: 'Indie Flower', cursive;
                @include sm_screen{
                    text-align: center;
                    font-size: 18px;
                }
            }
        }
        
    }
    .supply{
        display: flex;
        gap: 30px;
        @include sm_screen {
            flex-direction: column;
            padding: 10px;
        }
        .supply_left{
            width: 50%;
            display: flex; 
            flex-direction: column;
            padding: 28px 32px;
            align-items: center;
            @include sm_screen {
                width: 100%;
            }
            .card{
                border: 3px solid #FFFFFF;
                border-radius: 0px 30px;
                padding: 68px 22px;
                font-size: 1.5rem;
                text-align: center;
                color: #FFFFFF;
                font-family: 'Indie Flower', cursive;
                font-size: 31px;
                font-weight: 100;
                line-height: 2em;
                letter-spacing: 1px;
                &:hover{
                    border-radius: 20px;
                }
                @include sm_screen{
                    text-align: center;
                    font-size: 20px;
                    padding: 19px 22px;
                }
            }
    
            .title, .token_supply{
                font-size: 35px;
                margin: 20px 0;
                font-family: 'Indie Flower', cursive;
                font-size: 23px;
                font-weight: 100;
                line-height: 2em;
                letter-spacing: 1px;
                color: #FFFFFF;
                @include sm_screen{
                    text-align: center;
                    color: #FFFFFF;
                    font-family: 'Indie Flower', cursive;
                    font-size: 34px;
                    font-weight: 100;
                    line-height: 2em;
                    letter-spacing: 1px;
                }
            }
        }
        .supply_right{
            width: 50%;
            display: flex; 
            flex-direction: column;
            padding: 28px 32px;
            align-items: center;
            img{
                width: 100%;
            }
            @include sm_screen {
                width: 100%;
                order: 3;
            }
    
            .title, .token_supply{
                font-size: 35px;
                margin: 20px 0;
                color: #FFFFFF;
                font-family: 'Indie Flower', cursive;
                font-size: 23px;
                font-weight: 100;
                line-height: 2em;
                letter-spacing: 1px;
            }
        }
    }
    .title{
        text-align: center;
        color: #FFFFFF;
        font-family: 'Indie Flower', cursive;
        font-size: 80px;
        font-weight: 900;
        line-height: 2em;
        letter-spacing: 2px;
        
        @include sm_screen {
            text-align: center;
            font-size: 46px;
            line-height: 1.3em;
            margin-bottom: 1.6em;
        }
        
    }
    .third_part{
        display: flex;
        gap: 30px;
        @include sm_screen {
            flex-direction: column;
            padding: 10px;
        }
        .left{
            width: 50%;
            display: flex; 
            flex-direction: column;
            padding: 28px 32px;
            align-items: center;
            @include sm_screen {
                width: 100%;
            }
            .card{
                border: 2px solid grey;
                border-radius: 0px 30px;
                padding: 68px 22px;
                font-size: 1.5rem;
            }
    
            .title, .token_supply{
                font-size: 35px;
                margin: 20px 0;
            }
        }
    }
    .marketing{
        display: flex;
        justify-content: space-around;
        @include sm_screen{
            flex-direction: column;
            margin-bottom: 10px;
        }
        .title{
            font-size: 35px;
            margin: 20px 0;
            font-family: 'Indie Flower', cursive;
            font-size: 23px;
            font-weight: 100;
            line-height: 2em;
            letter-spacing: 1px;
            color: #FFFFFF;
            @include sm_screen{
                text-align: center;
                color: #FFFFFF;
                font-family: 'Indie Flower', cursive;
                font-size: 34px;
                font-weight: 100;
                line-height: 2em;
                letter-spacing: 1px;
            }
        }
        .address{
            font-size: 21px;
            align-items: center;
            color: #FFFFFF;
            font-family: 'Indie Flower', cursive;
            @include sm_screen{
                text-align: center;
                font-size: 18px;
            }
        }
    }
}