// Primary Color
$Primary-color100:#F9FF47;
$Primary-color80:#FBFF61;
$Primary-color60:#FCFF99;
$Primary-color40:#FDFFC2;
$Primary-color20:#FEFFEB;

// Secondary Color
$Pink-color: #FF479D;
$Purple-color:#A947FF;

// Black Color
$Black100:#272727;
$Black80:#343434;
$Black60:#717171;
$Black40:#CFCFCF;
$Black20:#E1E1E1;

// main color:
$White:#F4F4F4;
$BGcolor:#11121A;

$color0:rgba(0,0,0,0);

body{
    background-color: $BGcolor;
}

