@mixin sm_screen {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin md_screen {
    @media screen and (min-width: 769px) {
        @content;
    }
}

@mixin tablet_vert_screen {
    @media screen and (max-width: 991px) {
        @content;
    }
}

@mixin tablet_screen {
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin lg_screen {
    @media screen and (min-width: 1025px) {
        @content;
    }
}

@mixin xl_screen {
    @media screen and (min-width: 1200px) {
        @content;
    }
}

@mixin note_screen {
    @media screen and (min-width: 1025px) and (max-width: 1440px) {
        @content;
    }
}

