@mixin border-button{
    border:1px solid $Primary-color100;
    border-radius: 8px;
    padding: 16px 24px;
    color: $White;
    background-color: $color0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
}

@mixin large-fill-button{
    background-color: $Primary-color100;
    color: $Black100;
    padding: 16px;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    border-radius: 8px;
    transition: 0.6s;
    border: 0;
    &:hover{
        background-color: $Purple-color;
        color: $White;
        transition: 0.6s;
    }

}

@mixin btn-sm{
    border:1px solid $Primary-color100;
    border-radius: 4px;
    padding: 12px 20px;
    background-color: rgba(0,0,0,0);
    color: $White;

    &:hover{
        background-color: $Primary-color100;
        color: $Black100;
    }
}


