@mixin card-layout{
    padding: 36px;
    border-radius: 8px;
    background: linear-gradient(132deg, rgb(44 44 44 / 30%) 0%, rgb(163 158 158 / 10%) 101.7%);    position: relative;
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        right: -30px;
        top: 0;
        height: 35%;
        width: 35%;
        background-position: right;
        /* background-size: contain; */
        background-repeat: no-repeat;
        z-index: -1;
        background-clip: padding-box;
        background: linear-gradient(325.51deg, rgba(249, 255, 71, 0.4) -8.07%, rgba(255, 71, 157, 0.4) 24.15%, rgba(169, 71, 255, 0.4) 62.38%);
        filter: blur(50px);
    }
}