@import '../../sass/abstract/mixin';
.footer_section{
    background-color: rgba(130, 127, 27, 0.656);
    height: 56px;
    text-align: center;
    padding: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Indie Flower', cursive;
    color: #fff;
    @include sm_screen{
        font-size: 22px;
    }
}