@import '../../sass/abstract/mixin';
.abt_section{
    background-color: #7b5c00;
    display: flex;
    justify-content: center;
    @include sm_screen{
        padding: 0 10px;
        width: 100%;
    }
    .abt_container{
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1.5fr 2fr;
        max-width: 1280px;
        gap: 20px;
        padding-bottom: 60px;
        @include tablet_vert_screen{
            grid-template-columns: 1fr;
            width: 100%;
        }
        @include sm_screen{
            grid-template-columns: 1fr;
            width: 100%;
        }
    }
   
    .left{
        display: flex;
        justify-content: flex-end;
        @include tablet_vert_screen {
            
            justify-content: center;
            order: 1;
        }
        @include sm_screen{
            width: 100%;
            justify-content: center;
            order: 1;
        }
        img {
            @include sm_screen{
                width: 100%;
            }
        }
    }
    .right{
        padding-left: 30px;
        @include tablet_vert_screen {
            padding-left: 0px;
            order: 0;
        }
        @include sm_screen{
            padding-left: 0px;
            order: 0;
        }
        .title{
            text-align: left;
            color: #FFFFFF;
            font-family: 'Indie Flower', cursive;
            font-size: 80px;
            font-weight: 900;
            line-height: 2em;
            letter-spacing: 1.5px;
            @include tablet_vert_screen{
                text-align: center;
                line-height: 1.3em;

            }
            @include sm_screen{
                text-align: center;
                font-size: 46px;
                line-height: 1.3em;
                margin-bottom: 1.6em;
            }
        }
        .description{
            text-align: left;
            color: #FFFFFF;
            font-family: 'Indie Flower', cursive;
            font-size: 21px;
            font-weight: 600;
            line-height: 2em;
            letter-spacing: 1px;
            margin-bottom: 1.6em;
            width: 620px;
            @include tablet_vert_screen{
                text-align: center;
                font-weight: 100;
                width: 100%;
            }
            @include sm_screen{
                text-align: center;
                font-size: 16px;
                font-weight: 100;
                width: 100%;
            }
           
        }
    }
}