.banner{
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    p{
        font-size: 36px;
        color: #FFFFFF;
        font-family: 'Indie Flower', cursive;
        font-weight: 900;
        line-height: 12px;
        letter-spacing: 1px;
    }
}